*.pom*
*.jar*
*.aar*
*.*~
.gradle
gradle-app.setting
gradle.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/com
/node_modules
*.apk
*.ap_

*.dex

*.class

bin/
gen/

local.properties
*.iml
.idea
.idea/workspace.xml
build/
