<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.qwasi.sdk" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--Beacons-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--GCM-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/> <!--dangerous-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="com.google.android.c2dm.intent.REGISTRATION" />
    <!-- need your application package name here  -->
    <!--uses-permission android:name="com.qwasi.sdk.permission.C2D_MESSAGE" /-->
    <!--Notifications -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--Location dangerous-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--QwasiConfig-->
    <!--<meta-data android:name="appID" android:value="55a93a58d666874b6e1109ce" />
    <meta-data android:name="apiKey" android:value="4734601123be56bcdf4494907b2aaa9e"/>
    <meta-data android:name="apiUrl" android:value="https://sandbox.qwasi.com:8443/v1"/>
    <meta-data android:name="gcm_senderid" android:value="335413682000" />-->

    <application>
        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <service android:enabled="true"
            android:exported="false"
            android:label="beacon"
            android:name="org.altbeacon.beacon.service.BeaconService"
            />

        <service android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:enabled="true"
            android:exported="false"
            />
        <service android:name=".QwasiService">
            <intent-filter>
                <action android:name="com.qwasi.sdk.QwasiService.RECEIVE"/>
            </intent-filter>
        </service>
    </application>

</manifest>
